.container
  .columns
    .column.is-6
      a(href="https://instantcbd.eco") instantCBD Inc., Chicago Illinois 2020
    .column.is-6
      .button-group
        button.button Link
        button.button Link
        button.button Link