head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Instant CBD - Rapid Proto
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.14.0/js/all.js')
  